{% extends 'base.html.twig' %}

{% block body %}

<h1>Mon CV</h1>

<div class="rubrique">
    <section>
        <h2>Informations Personnelles</h2>
        <p><strong>Nom :</strong> Boyer</p>
        <p><strong>Prénom :</strong> Maxence</p>
        <p><strong>Email :</strong> maxence.boyer15112005@gmail.com</p>
        <p><strong>Adresse :</strong> 14 rue Charles Louis Picaud, 42300 Roanne</p>
        <p><strong>Permis :</strong> B</p>
    </section>

    <section>
        <h2>Formations</h2>
        <ul>
            <li><strong>Juin 2021:</strong> Obtention du Diplôme National du Brevet au Collège Sacré-Coeur à Sainte-Sigolène</li>
            <li><strong>2022-2024:</strong> Première et Terminale STI2D au lycée Notre-Dame du Château à Monistrol-sur-Loire</li>
            <li><strong>Juillet 2024:</strong> Obtention du Baccalauréat au lycée Notre-Dame du Château à Monistrol-sur-Loire</li>
            <li><strong>2024-:</strong> Étudiant en Réseaux et Télécommunications à l'université de Roanne</li>
        </ul>
    </section>

    <section>
        <h2>Expériences professionnelles</h2>
        <ul>
            <li><strong>Juin 2021:</strong> Immersion d'une semaine au Syndicat des eaux à Sainte-Sigolène : Organisation chantiers (lieu, matériel, délais...)</li>
            <li><strong>Mars 2023:</strong> Immersion d'une semaine chez JM Polymers Saint-Romain Lachalm : Comptabilité, vérification d'enregistrements d'impôts, découverte des autres secteurs.</li>
            <li><strong>Août 2024 - :</strong> Agent de déchetterie à Monistrol-sur-Loire : Travail en tant que saisonnier pendant les périodes de vacances scolaires, accueille et coordonne les clients.</li>
        </ul>
    </section>

    <section>
        <h2>Compétences</h2>
        <ul>
            <li>Maîtrise de l'outil informatique</li>
            <li>Saisie de factures</li>
            <li>Rigueur</li>
            <li>Sérieux</li>
            <li>Appliqué</li>
        </ul>
    </section>

    <section>
        <h2>Divers</h2>
        <ul>
            <li>Pratique de la musique depuis 9 ans.</li>
            <li>A pratiqué du tuba pendant 5 ans.</li>
            <li>Pratique du saxophone depuis 4 ans.</li>
            <li>Fait partie de l'harmonie de Sainte-Sigolène depuis 2020.</li>
        </ul>
    </section>
</div>

<div class="gallery">
    <div class="image-item">
        <p>Téléchargez le CV complet ici :</p>
        <a href="{{ asset('images/CV.jpg') }}" download="CV-Maxence-Boyer.jpg">
            <button>Télécharger le CV</button>
        </a>
    </div>
</div>

<footer>
    <p>CV mis à jour en janvier 2025</p>
</footer>

{% endblock %}
