{% extends 'base.html.twig' %}


{% block body %}

<h1><B>Bienvenue sur mon E-Portfolio</B></h1>

<br>
<br>
<p> Je m'appelle Maxence Boyer, j'habite en Haute-Loire à Sainte-Sigolène et je suis en première année de réseau et télécommunication à l'IUT de Roanne. </p>

<div id="image">
  <img src="{{ asset('images/image_page1.jpg') }}" alt="Description de l'image">
</div>
{% endblock %}
